/* Chatbot container */
.chatbot-container {
  width: 100%;
  max-width: 600px;
  height: 500px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 80px auto 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Chatbot header */
.chatbot-header {
  background-color: #fbf3d5;
  border: 1px solid #f1e5bc;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

/* Chatbot messages */
.chatbot-messages {
  height: 350px;
  overflow-y: scroll;

  padding: 10px;
  box-sizing: border-box;
}


/* Chatbot message */
.message {
  margin: 10px 0;
}

/* Bot message */
.bot-message {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  float: left;
  clear: both;
  max-width: 80%;
}

/* User message */
.user-message {
  background-color: #fdf7e2;
  border: 1px solid #f1e5bc;
  color: black;
  padding: 10px;
  border-radius: 10px;
  float: right;
  clear: both;
  max-width: 80%;
}

/* Chatbot input */
.chatbot-input {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chatbot-input input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.chatbot-input button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #009dff;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 14px;
}

.deleteChat
{
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: #009dff;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px 0px;
  width: 100%;
}


/* CSS for scroll bar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb{
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #b1afaf;
}

@media screen and (min-width: 600px) {

  /* Chatbot input */
  .chatbot-input {
    flex-wrap: nowrap;
  }

  .chatbot-input input[type=text] {
    width: calc(100% - 110px);
  }

  .chatbot-input button {
    width: 100px;
    max-width: none;
  }
}

@media screen and (max-width: 600px)
{
  .chatbot-input input[type=text]
  {
    width: 80%;
  }
}